// imports

$border-radius: 2px;

// colours
// base colours
$color-green: #007B14;
$color-yellow: #fa0;
$color-red: #FF2B00;
$color-blue: #05f;
// variable colours

/* standard colours (black on white)*/
$color-text: #000;
$color-bg: #fff;
$color-subtext: #ccc;
$color-border: #000;
$color-leaderboard-status-first: $color-green;
$color-leaderboard-status-standard: $color-blue;
$color-leaderboard-status-dead: $color-red;
$color-topspot-bg: #000;
$color-topspot-accent: $color-yellow;
$color-topspot-text: #fff;  
/*
$color-text: #fff;
$color-bg: $color-red;
$color-subtext: #fff;
$color-border: #fff;

$color-leaderboard-status-first: $color-border;
$color-leaderboard-status-standard: $color-border;
$color-leaderboard-status-dead: $color-border;

$color-topspot-bg: $color-text;
$color-topspot-accent: $color-red;
$color-topspot-text:	$color-bg;*/

// real cool utility class that is not BEM compliant but is useful
.is-hidden{
	display: none;
}

.ui {
	background-color: $color-bg;
	color: $color-text;
  max-width: 600px;
	margin-left: auto;
  margin-right: auto;
	padding:8px;
  min-height: calc(100vh - 100px);
	padding-bottom:10px;
	&--red {
		background-color: $color-red;
		color: #fff
	}
}

a {
	text-decoration:none;
	color: $color-text
}
body {
	font-family:"San Francisco";
	font-weight:600;
		overflow: auto;
	background-color: $color-bg
}

.pa8 {
	padding:8px
}
.leaderboard-item {
    background: $color-bg;
		border: $border-radius solid $color-border;
		border-radius:10px;
	page-break-after: 8px;
	margin-bottom: 8px;
}

.leaderboard-item__container{
		display: flex;
		flex: 1;
	display: flex;
	padding-left:8px;
	padding-right:8px;
	padding-top:4px;
	padding-bottom:4px;
}
.leaderboard-user {
	vertical-align: middle;
	border: $border-radius solid $color-bg;
	padding:2px;
}
.leaderboard-user__text{
	font-size: 27px;
	color: $color-text;
	font-weight:600;
	&--dead{
		text-decoration: line-through;
	}

}
.leaderboard-user__subtext {
	font-size: 20px;
	color: $color-subtext;
	font-weight: 700;
	margin-left: 4px
}

.leaderboard-status {
	margin-left: auto;
  flex: none;
	border: $border-radius solid $color-border;
	border-radius:10px;
	padding:2px;
	color: $color-text;
	&--first {
      border: $border-radius solid $color-leaderboard-status-first;
			color: $color-leaderboard-status-first;
    }
	&--not-top {
      border: $border-radius solid $color-leaderboard-status-standard;
			color: $color-leaderboard-status-standard;
    }
	&--dead {
      border: $border-radius solid $color-leaderboard-status-dead;
			color: $color-leaderboard-status-dead;
			transition:all 0.2s ease;

		}
}


.leaderboard-status__text{
	font-size: 27px;
	text-align: center;
	padding-left:4px;
	padding-right:4px;
	font-weight:800
}

.leaderboard-status--mobile {
	display: none;
	flex: 1;
	width: 100%;
	text-align: center;
	
}
.leaderboard-status--desktop{
	display: block;
}
@media only screen and (max-width: 402px) {
	.leaderboard-status--mobile {
		display: block;
	}
	.leaderboard-status--desktop{
		display: none;
	}
	.leaderboard-item__container{
		flex-direction: column; 
		padding-right: 16px
	}
	
}
.button{
	background: $color-bg;
	border: $border-radius solid $color-border;
	box-shadow: 0 4px 0 0 $color-border;
	border-radius:10px;
	text-align: center;
	page-break-after: 8px;
		padding:8px;
margin-bottom:12px;
	margin-top:8px

}

.button:active{
		background: $color-bg;
border: $border-radius solid $color-border;
	box-shadow: 0 0px 0 0 $color-border;
	margin-top:12px;
	margin-bottom:-4px


}
.button__text{
	font-size: 27px;
	text-align: center;
	font-weight:800;
	color: $color-text;
		&--thin{
			font-weight:400;
			}
	&--var{
		font-style:italic;
		text-decoration:underline;
	}
}
.button--sort{
	margin-top:12px
}
.button--sort:active {
	margin-top:14px;
	margin-bottom:10px
}
.header {
	padding-top:8px;
	padding-bottom:8px;
	padding-left:4px;
}
.footer {
	border-top: 2px solid $color-text;
	padding-bottom:8px;
	height: 80px;
	&--ui-red{
		border-top: 2px solid #fff;
		color:#fff !important;
	}
}
.footer__title {
	padding-top:8px;
	font-size: 24px;
	color: $color-text;
	text-align: center;
	&--ui-red{
		color:#fff !important;
	}
}
.footer__subtitle{
	
font-size: 13px;
color: $color-text;
text-align: center;
font-weight:300;
	padding-top:4px;
	&--fr{
		font-size:13px;
		font-weight:400;
	}
	&--ui-red{
		color:#fff !important;
	}
}


.top-spot{
	background: $color-topspot-bg;
	border: $border-radius solid $color-topspot-bg;
	border-radius:10px;
	page-break-after: 8px;
	margin-bottom: 8px;
}
.top-spot__container{
	padding:8px;
}
.top-spot-award__text{
	font-size:27px;
	font-weight:800;
	color:$color-topspot-text;
	font-style: italic
}
.top-spot-user{
	border: $border-radius solid $color-topspot-accent;
	border-radius:10px;
	padding:2px;
	color: $color-topspot-accent;
	text-align:center;
	margin-top:4px;
}
.top-spot-user__text{
	font-size: 27px;
	text-align: center;
	padding-left:4px;
	padding-right:4px;
	font-weight:800;
	
}
.fukol{
	margin-bottom: 8px;
}

.fukol-grid {
  display: flex; /* 1 */
  flex-wrap: wrap; /* 2 */
  margin: -4px; /* 5 (edit me!) */
}

.fukol-grid > * {
  flex: 1 0 13em; /* 3 (edit me!) */
  margin: 4px; /* 4 (edit me!) */
}

.form-item{
padding:8px
}
.FAB {
	border-radius: 27px;
	background-color: #fff;
	-webkit-appearance: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	padding: 0.5em 1.6em;
	cursor: pointer;
	line-height: 1.2;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	background: #FFFFFF;
	box-shadow:
    0 0 0 2px $color-blue,
    0 0 0 7px $color-bg;
}
.FAB__text{
	font-size: 20px;
	color:$color-blue;
	text-align: center;
	text-decoration: none;
	text-transform: none;
}
.FAB__icon{
	margin-right: 4px;
}
@media only screen and (max-width: 726px) {
	body {
		margin-bottom: 54px;
	}
	.FAB__text__text{
		display: none;
	}
}

.rules-download{
	padding-top:4px;
	padding:8px;
	border-radius:10px;
	text-align: center;
	color: #fff;
	border: 4px solid #fff;
	box-shadow: 0 4px 0 0 #fff;
	page-break-after: 8px;
	margin-bottom:12px;
	margin-top:8px;
	background: $color-red;
	&:active{
		border: 4px solid #fff;
		box-shadow: 0 0px 0 0 #fff;
		margin-top:14px;
		margin-bottom:-4px
	}
}





.rules-download__text{
font-size: 30px;
font-weight:800;
font-style:italic;
}

.addendum{
	margin-top:10px
}
.addendum-header{
	border: 4px solid #fff;
	padding:8px;
	text-align:center;
	border-radius:10px
}
.addendum-header{
	font-size: 30px;
	color: #fff;
	text-align: center;
	
}
.addendum-header__arrow{
	transform: translate(10px, -3px);
}

.addendum-item{
	margin-bottom:10px;
}

.addendum-item__title{
	color:#ff2b00;
	background-color: #fff;
	font-size:27px;
	padding:8px;
	border: 4px solid #fff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-align:center;
	font-weight:600;
	border-bottom: none;
	padding-bottom:8px;
	padding-top:6px
}
.addendum-item__answer{
	font-size:24px;
	padding:8px;
	border: 4px solid #fff;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top:none;
	text-align:center;
	font-weight:400;
}

.transition-fade {
	transition: 0.4s;
	opacity: 1;
  }
  
  html.is-animating .transition-fade {
	opacity: 0;
  }

.box{
		margin-top:10px
}
.box-header{
	border: 4px solid $color-border;
	padding:8px;
	text-align:center;
	border-radius:10px
}
.box-header{
	font-size: 30px;
	color: $color-text;
	text-align: center;
}
.box-header__arrow{
	transform: translate(10px, -3px);
}