<!DOCTYPE html>
<html>
	<head>
		<title>Leaderboard</title>
		<link rel="stylesheet" href="/static/css/reset.css?q=1280549780" type="text/css" media="screen" charset="utf-8" />
		<link href="{{ url_for('static', filename='style.css') }}?q=123" type="text/css" rel="stylesheet">
	</head>
	<body>
		<h1 class="header">JMSS Murder Roleplay</h1>
		<h2 class="subheader1">Admin page</h2>
		<a class="button" href="/newplayer">Add a new player</a>
		<a class="button" href="/newkill">Add a kill</a>
	</body>
</html>