{% extends "base.html" %}
{% block title %}Admin {%endblock%}
{% block content %}
		<h2 class="subheader1">Admin page</h2>
		<a href="/newplayer">
			<div class="leaderboard-item">
				<div class="leaderboard-item__container">
					<div class="leaderboard-user">
						<span class="leaderboard-user__text">Add a new player</span> 
					</div>
				</div>
			</div>
		</a>
		<a href="/newkill">
			<div class="leaderboard-item">
				<div class="leaderboard-item__container">
					<div class="leaderboard-user">
						<span class="leaderboard-user__text">Add a new Kill</span> 
					</div>
				</div>
			</div>
		</a>
		<a href="/delete">
			<div class="leaderboard-item">
				<div class="leaderboard-item__container">
					<div class="leaderboard-user">
						<span class="leaderboard-user__text">Delete a player</span> 
					</div>
				</div>
			</div>
		</a>
		<a href="/reset">
			<div class="leaderboard-item">
				<div class="leaderboard-item__container">
					<div class="leaderboard-user">
						<span class="leaderboard-user__text">Reset the game</span> 
					</div>
				</div>
			</div>
		</a>
{% endblock %}