<!DOCTYPE html>
<html>
	<head>
		<title>Timeline</title>
		<link rel="stylesheet" href="/static/css/reset.css?q=1280549780" type="text/css" media="screen" charset="utf-8" />
		<link href="{{ url_for('static', filename='style.css') }}?q=123" type="text/css" rel="stylesheet">
	</head>
	<body>
		<h1 class="header">Leaderboard</h1>
		<table class="board">
			<tr id="table-head"><th>Player</th><th>Code</th><th>Kills</th><th>Alive</th></tr>
			{% for x in players %}
				<div id="{{x[0]}}}">
					<tr class="player">
						<td>{{x[3]}}</td>
						<td>{{x[0]}}</td>
						<td>{{x[1]}}</td>
						<td>{{x[2]}}</td>
					</tr>
				</div>
			{% endfor %}
	</body>
</html>