{% extends "base.html" %}
{% block title%}JMSS MURDER {%endblock%}
{% block content %}
	<!-- buttons -->
	<a href="https://docs.google.com/document/d/11J-Z8qToGyedejeO32e6gcCYji0lLOtfI6vO_ZIahck/edit?usp=sharing" class="">
		<div class="button">
			<span class="button__text button__text--thin">Read the Rules</span>
		</div>
	</a>
	<a href="https://forms.gle/zqRATLuCW3zDNNyC7" class="">
		<div class="button button--sort">
			<span class="button__text button__text--thin">Join the <span class="button__text button__text--var">Game</span> (not open yet)</span>
		</div>
	</a>
	<!-- leaderboard -->
	{% for player in players %}
	<div class="leaderboard-item">
		<div class="leaderboard-item__container">
			<div class="leaderboard-user">
				<span class="leaderboard-user__text">{{player[3]}}</span> <span class="leaderboard-user__subtext">{{player[0]}}</span> 
			</div>
			<div class="leaderboard-status leaderboard-status--desktop leaderboard-status--{% if loop.index == 1 %}first{% else %}{% if player[2] != 1 %}dead{%else%}not-top {%endif%}{% endif %}">
				<span class="leaderboard-status__text">{% if player[2] != 1 %}DEAD{%else%}{{player[1]}} kill{% if player[1] != 1 %}s{% endif %} {%endif%}</span>
			</div>
			<div class="leaderboard-status leaderboard-status--mobile leaderboard-status--{% if loop.index == 1 %}first{% else %}{% if player[2] != 1 %}dead{%else%}not-top {%endif%}{% endif %}">
				<span class="leaderboard-status__text">{% if player[2] != 1 %}DEAD{%else%}{{player[1]}} kill{% if player[1] != 1 %}s{% endif %} {%endif%}</span>
			</div>
		</div>
	</div>
{% endfor %}
{% endblock %}
		