{% extends "base.html" %}
{% block title%}JMSS MURDER {%endblock%}
{% block content %}
	<!-- buttons -->
	<a href="https://docs.google.com/document/d/11J-Z8qToGyedejeO32e6gcCYji0lLOtfI6vO_ZIahck/edit?usp=sharing" class="">
		<div class="button">
			<span class="button__text button__text--thin">Read the Rules</span>
		</div>
	</a>
	<a href="https://forms.gle/zqRATLuCW3zDNNyC7" class="">
		<div class="button button--sort">
			<span class="button__text button__text--thin">Join the <span class="button__text button__text--var">Game</span></span>
		</div>
	</a>
	<!-- leaderboard -->
	{% for player in players|sort(attribute='2', reverse=True) %}
	<div class="leaderboard-item">
		<div class="leaderboard-item__container">
			<div class="leaderboard-user">
				<span class="leaderboard-user__text">{{player[3]}}</span>
			</div>
			<div class="leaderboard-status {% if player[2] == 1 %} leaderboard-status--not-top {% else %} leaderboard-status--dead {% endif %}">
				<span class="leaderboard-status__text">{% if player[2] == 1 %}{{player[1]}} kills{% else %}DEAD{% endif %}</span>
			</div>
		</div>
	</div>
{% endfor %}
{% endblock %}
		