{% extends "base.html" %}
{%block head%}
		<script>
			function getUrlVars() {
					var vars = {};
					var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
					vars[key] = value;
					});
					return vars;
				}
		</script>
		<script>
			var errormessages = {'wrong':'Wrong password',
								'taken':'Code taken',
								'dead':'One of the players is dead',}
		</script>
{%endblock%}
{% block content %}
		<h2>Log a kill</h2>
			<h2 class="error" id="fail"></h2>
			<script>
				if( getUrlVars()['fail'] != undefined) {
					document.getElementById('fail').innerText = errormessages[getUrlVars()['fail']]
				}
			</script>
			<form action="/createkill" method="POST">
				Victim code:<input type="text" name="victim"/>
				<br/>
				Killer code:<input type="text" name="killer"/>
				<br/>
				Admin Password:<input type="password" name="pass1"/>
				<br />
				<input type="submit" value="Submit"/>
			</form>
{%endblock%}	