{% extends "base.html" %}
{%block head%}
		<script>
			function getUrlVars() {
					var vars = {};
					var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
					vars[key] = value;
					});
					return vars;
				}
		</script>
		<script>
			var errormessages = {'wrong':'Wrong password',
								'taken':'Code taken',
								'dead':'One of the players is dead',}
		</script>
{%endblock%}
{% block content %}
		<h2>Log a kill</h2>

				<h3 class="leaderboard-status leaderboard-status--dead leaderboard-status__text" id="fail"></h3>

			<script>
				if( getUrlVars()['fail'] != undefined) {
					document.getElementById('fail').innerText = errormessages[getUrlVars()['fail']]
				}
			</script>
			<form action="/createkill" method="POST">
				<div class="form-item">
					<label>Victim code:</label>
					<input type="text" name="victim"/>
				</div>
				<div class="form-item">
					<label>Killer code:</label>
					<input type="text" name="killer"/>
				</div>
				<div class="form-item">
					<label>Admin Password:</label>
					<input type="password" name="pass1"/>
				</div>
				<div class="form-item">
					<input type="submit" value="Submit"/>
				</div>	
			</form>
{%endblock%}	