<!DOCTYPE html>
<html>
	<head>
		<title>Make a new player</title>
		<link rel="stylesheet" href="/static/css/reset.css?q=1280549780" type="text/css" media="screen" charset="utf-8" />
		<link href="{{ url_for('static', filename='style.css') }}?q=123" type="text/css" rel="stylesheet">
		<script>
			function getUrlVars() {
					var vars = {};
					var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
					vars[key] = value;
					});
					return vars;
				}
		</script>
		<script>
			var errormessages = {'wrong':'Wrong password',
								'taken':'Code taken',
								'invalid':'One of the fields was invalid',}
		</script>
	</head>
	<body>
		<h1 class="header">Create a new player</h1>
		<div id="main">
			<h2 class="error" id="fail"></h2>
			<script>
				if( getUrlVars()['fail'] != undefined) {
					document.getElementById('fail').innerText = errormessages[getUrlVars()['fail']]
				}
			</script>
			<form action="/createplayer" method="POST">
				Player name:<input type="text" name="playername"/>
				<br/>
				Player code:<input type="text" name="code"/>
				<br/>
				Admin Password:<input type="password" name="pass1"/>
				<br />
				<input type="submit" value="Submit"/>
			</form>
		</div>
	</body>
</html>