{% extends "base.html" %}
{% block head %}
		<script>
			var errormessages = {'wrong':'Wrong password',
								'taken':'Code taken',
								'invalid':'One of the fields was invalid',}
		</script>
{%endblock%}
{% block title %}New Player {%endblock%}
{%block content%}
		<h2>Create a new player</h2>
		<div id="main">
			{% if fail != None %}
			<h3 class="leaderboard-status leaderboard-status--dead leaderboard-status__text" id="fail"></h3>
			<script>
				document.getElementById('fail').innerText = errormessages["{{fail}}"]
			</script>
			{% endif %}
			<form action="/createplayer" method="POST">
				<div class="form-item">
					<label>Player name:</label>
					<input type="text" name="playername"/>
				</div>
				<div class="form-item">
					<label>Player code:</label>
					<input type="text" name="code"/>
				</div>
				<div class="form-item">
					<label>Admin Password:</label>
					<input type="password" name="pass1"/>
				</div>
				<input type="submit" value="Submit"/>
			</form>
		</div>
{%endblock%}