{% extends "base.html" %}
{% block head %}
		<script>
			function getUrlVars() {
					var vars = {};
					var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
					vars[key] = value;
					});
					return vars;
				}
		</script>
		<script>
			var errormessages = {'wrong':'Wrong password'}
		</script>
{%endblock%}
{%block content%}
		<h2>Reset game (kills and living status)</h2>
		<div id="main">
			<h3 class="leaderboard-status leaderboard-status--dead leaderboard-status__text" id="fail"></h3>
			<script>
				if( getUrlVars()['fail'] != undefined) {
					document.getElementById('fail').innerText = errormessages[getUrlVars()['fail']]
				}
			</script>
			<form action="/reset" method="POST">
				<div class="form-item">
					<label>Admin Password:</label>
					<input type="password" name="pass1"/>
				</div>
				<input type="submit" value="I want to reset the game"/>
			</form>
		</div>
{%endblock%}